# load jmeter script with config file as parameters with command
# jmeter -n -t configurable_load_shaping.jmx -l results.jtl -q configurable_load_shaping.config -J load_config="big large set of functions copied from excel file, between quotes"
# full command on a single line

# Jmeter HTTP Sampler protocol
protocol=http

# Jmeter HTTP Sampler hostname
hostname=TARGET_HOSTNAME

# Jmeter HTTP Sampler port
port=TARGET_PORT

# Jmeter HTTP Sampler path
path=

